In [1]:
# 28/11/22
s="tuesday"
id(s)

140358625607024

In [2]:
s="monday"
print(s[0])
x=s.replace(s[0],"n")
print(x)
id(s)

m
nonday

140358625688752

In [3]:
quit_india=42
print(quit_india)

42

In [4]:
qi=quit_india/2.0
print(qi)
type(qi)

21.0

float

In [5]:
qi_num= int('123456',7)
print(qi_num)
# 5*7**0 + 7*7**1 + 8*7**2 + 2*2**3 + 2*2**4

22875

In [6]:
today=9.0
type(today)

float

In [7]:
age,hight,weight=25,172,56
print(age,hight,weight)

25 172 56

In [8]:
day='wednesday'
day_="monday"
print(day,day_)

wednesday monday

In [9]:
day= 'wednwsday the mid-week'
print(day)

wednwsday the mid-week

In [10]:
day=('''
    day 17
month 10
\tyear 2004
''')
print(day)

    day 17
month 10
	year 2004

In [11]:
bool(0)
bool("0")

True

In [12]:
pi=3.14
r=25
pi * r ** 2

1962.5

In [20]:
Name = "Alisha"
Age = "18"
Height = "165"
print("Name is:",Name)
print("Age is:",Age)
print("Height is:",Height)

Name is: Alisha
Age is: 18
Height is: 165

In [17]:
_quit = "ab" #usually recommended not to use the word with underscore
print(_quit)
quit_ = "ac" #usually recommended not to use the word with underscore
print(quit_)
quit_num = "ab" #Underscore is used in the middle of 2 words instead of space
print(quit_num)

ab
ac
ab

In [21]:
#boolean
bool(" ")#gives false
bool(0)#gives false
bool("0")#gives true

True